$app: (
    container-main: 1440px,
);

$color: (
    c-white: #FFFFFF,
    c-dark-background: #070724,
    c-dark-gray: #38384F,
    c-light-gray: #838391,
    c-light-blue: #419EBB,
    c-yellow: #EDA249,
    c-purple: #6D2ED5,
    c-dark-orange: #D14C32,
    c-red: #D83A34,
    c-light-orange: #CD5120,
    c-turquoise: #1EC2A4,
    c-dark-blue: #2D68F0,
    c-grey: rgba(216,216,216,0.2),
    c-border-bottom: rgba(255,255,255,0.2)
);

$color-cirle: (
    c-mercury: #DEF4FC,
    c-venus: #F7CC7F,
    c-earth: #545BFE,
    c-mars: #FF6A45,
    c-jupiter: #ECAD7A,
    c-saturn: #FCCB6B,
    c-uranus: #65F0D5,
    c-neptune: #497EFA
);




